{% extends 'base.html' %}

{% block titulo %} Menu {% endblock %}

{% block content %}
    <h1>Pagina Menu</h1>
    {% if current_user.is_authenticated %}
        <a class="btn-danger btn" href="{{ url_for('Logout') }}"> Sair </a>
    {% endif %}
    
    <hr>

    <!-- Formulario de post -->
    <section id="Post">
        <!-- Botão para abrir o modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postmodal">
        Fazer um Post
        </button>

        <!-- Estrutura do Modal Bootstrap -->
        <div class="modal fade" id="meuModal" tabindex="-1" aria-labelledby="post_modal" aria-hidden="true">
        <div class="modal-dialog">
            <form action="" method="post">
                <div class="modal-content">
                
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="meuModalLabel">Novo Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    {{ form_vagas.csrf_token }}

                    {{ form_vagas.titulo.label(class="form-label fw-semibold") }}
                    {{ form_vagas.titulo(class="form-control form-control-lg", placeholder="Digite o titulo") }} 

                    {{ form_vagas.tipo.label(class="form-label fw-semibold") }}
                    {{ form_vagas.tipo(class="form-control form-control-lg", placeholder="Digite o titulo") }} 

                    {{ form_vagas.incritos.label(class="form-label fw-semibold") }}
                    {{ form_vagas.incritos(class="form-control form-control-lg", placeholder="Digite o titulo") }} 

                </div>
                
                <div class="modal-footer bg-dark">
                    {{ form_vagas.btn_vagas(class="btn btn-success w-100 mt-4") }}
                </div>
                
                </div>
            </form>
        </div>
        </div>

    </section>
{% endblock %}